#container
{
	 
	width: 360px;
	margin: 100px auto;

}

h1{
	background: green;
	color: white;
	padding: 10px 20px;
	margin: 0;
	font-weight: normal;

}
li:nth-child(2n){
	background: #f7f7f7;
}
body{
	background: #2BC0E4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
input
{
	padding: 13px 13px 13px 20px;
	width: 100%;
	font-size: 18px;
	box-sizing: border-box;
	background-color: #f9f9f9;
	border: 3px solid rgba(0, 0, 0, 0);
}	
input[type="text"]:focus{
		background: white;
		outline: none;
		border: 2px solid blue;

}
.fa-plus{
	float: right;
}
.completed
{
	color: gray;
	text-decoration: line-through;
}
li
{
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #665 ;
}
ul{
	list-style: none;
	 margin: 0;
	 padding: 0; 
}
span{
	background: #e74c3c;
	color: white;
	height: 40px;
	width: 0;
	margin-right: 20px;
	text-align: center;
	display: inline-block;
	opacity: 0;
	transition: 0.2s linear;
}
li:hover span{
	width: 40px;
	opacity: 1.0;
}